{% extends 'base.html' %}

{% block content %}
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <header class="masthead mb-auto">
    <div class="inner">
      <h3 class="masthead-brand">MotiPost</h3>
      <nav class="nav nav-masthead justify-content-center">
      </nav>
    </div>
  </header>　
  <div style="text-align: center">
  <main role="main" class="inner cover">
      <nav class="nav nav-masthead justify-content-center">
        <h1 class="cover-heading">このアプリは会社の掲示板に最適です。</h1>
        <p class="lead">簡単なメッセージに写真を添えて投稿するだけで、シンプルに利用出来ます。</p>
        <p class="lead">自部署の仕事の成果や、取り組みをアピールしたい時に最適なアプリです。</p>
        <p class="lead">メールよりも気軽にコミュニケーションが取れるこのアプリ、早速使っていきましょう!</p>
        　<div style="text-align: center">
  </main>

<footer class="mastfoot mt-auto">
    <div class="inner">
      <a href="{% url 'signup' %}" class="btn btn-lg btn-primary">新規登録</a>
      <a href="{% url 'login' %}" class="btn btn-lg btn-secondary">ログイン</a>
    </div>
</footer>
{% endblock content %}
