{% extends 'base.html' %}

{% block customcss %}
{% endblock customcss %}

{% block header %}
<div class="alert alert-primary" role="alert">
    <h><font size="5">Motipost</font></h>
</div>
<div>
  <a href="{% url 'create' %}" class="btn btn-primary" role="button" aria-pressed="true">投稿</a>
</div>

{% endblock header %}

{% block content %}
<div class='container'>
    {% for item in object_list %}
    <div class="alert alert-success" role="alert">
        <p>タイトル：<a href="{% url 'detail' item.pk %}">{{item.title}}</a></p>
        <p>投稿者：{{item.author}}</p>
        <a>いいね：{{item.good}}</a>
        <a>既読：{{item.read}}人</a>
    </div>
    {% endfor %}
</div>
<div>
  <a href="{% url 'index' %}" class="btn btn-secondary" role="button" aria-pressed="true">ログアウト</a>
</div>
{% endblock content %}